/* ....................Under Develope Page...................... */
body {
	background            : url('images/background.png');
	background-position   : top center;
	background-repeat     : repeat-y;
} 


div.container {
	min-height            : 550px;
	margin-top            : 2px;
	padding-top           : 5px;
}
section.adminlogin{
	margin-top: 100px;
}
div.chef{
	background-image: url('images/header1 copy.png');
	width: 255px;
	height: 215px;
	float: left;
	margin-left: 125px;
}
div.br{
width: 300px;
height: 300px;
margin-left: 70px;
margin-top: 70px;
float: left;
}
section.adminlogin form input{
margin-bottom: 15px;
border: none;
border-bottom: 1px solid rgb(196, 196, 196);
}
section.adminlogin form button{
	background-color: #E9200A;
	width: 70px;
	height: 35px;
	border:none;
	color: #fff;
	border-radius: 20px;
	margin-top: 20px;
	font-family: arial;
	font-size: 17px;
}
section.adminlogin form button:hover{
	background-color: #D61E09;
}
/*adminpage......................................................*/

body.adminpage{
	background-image: none !important;
}
body.adminpage div.part1{
	background-image: url('images/bg-login-top.png');
	background-repeat: repeat;
	width: auto;
	height: 180px;
}
body.adminpage div.part2{
	background-image: url('images/search-inner-wrapper.png');
	background-repeat: repeat;
	width: auto;
	height: 4px;
}
body.adminpage div.part3{
	background-image: url('images/bg-login.png');
	background-repeat: repeat;
	width: auto;
	min-height: 513px;
}
body.adminpage div.logoim{
	background-image: url('images/header1 copy.png');
	width: 300px;
	height: 180px;
	float: left;
}
body.adminpage div.welcome{
	width: 400px;
	height: 47px;
	float: left;
	margin-top: 90px;
	color: rgb(112, 45, 45);
	font-family: 'Satisfy', cursive;
	font-size: 23px;
}
body.adminpage div.exit{
	float: right;
	width: 100px;
	height: 30px;
	background-color: #fff;
	margin-top: 147px;
	opacity: 0.6;
}
body.adminpage div.exit a{
	text-decoration: none;
	color:  rgb(112, 45, 45);
	font-family: 'Satisfy', cursive;
	font-size: 21px;
	line-height: 29px;
	display: block;
}
body.adminpage li{
	list-style-type: none;
	margin-top: 100px;
	width: 128px;
	height: 128px;
	float: left;
	margin-left: 150px;
}
body.adminpage li a{
	display: block;
	width: 128px;
	height: 128px;
}
body.adminpage li.addtext {
	background-image: url('images/text.png');
}
body.adminpage li.addpic {
	background-image: url('images/pic.png');
}
body.adminpage li.addcart{
	background-image: url('images/add to cart.png');
}
body.adminpage li.delete {
	background-image: url('images/delete.png');
}
body.adminpage li.homepage{
	background-image: url('images/site index.png');
}
body.adminpage li.setting{
	background-image: url('images/setting.png');
}